# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
/staticfiles/
/media/
*.log

# Virtual env
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
excel_exports/
nul
exports/
